body {font-family: 'Lato', sans-serif;
	font-size: 16px;}
*, *:before,*:after {box-sizing: border-box; margin: 0; padding: 0;}
ul, li {display: block;
		padding: 0;
		margin: 0;}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*General*/

body {text-align: center;}
h2 {font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 30px;
	color:#2d3950;}


/*Header*/


header {background-color: #f6f9f9;
		height: auto;}
.logo_block {height: 100px;
			justify-content:flex-start;
			align-items: center;
			margin: 0 0 0 25px;}


/* Intro */

.intro {padding: 215px 0 90px 0;
		background: url(../assets/background.jpg) no-repeat center;
		background-size: cover;
		color: #fff;
		text-align: center;}

.intro h1 {font-size: 120px;
	line-height: 120px;
	font-weight: bold;
	text-transform: uppercase;}

.intro hr {border:none;
			background-color: #15a4fa;
			color: #15a4fa;
			height: 2px;
			width: 90%;
			margin: 35px auto;}



.cta_button {width: 200px;
			height: 55px;
			border: 1px solid #15a4fa;
			border-radius: 3px;
			background: transparent;
			font-size: 18px;
			font-weight: 400;
			color: #fff;
			margin: 67px 0 178px 0;
			cursor: pointer;
			outline: none;}

.intro p {font-size: 20px;
				font-weight: 400;
				line-height: 20px;}

.intro span {text-transform: uppercase;}


.arrow {width: 15px;
		height: 15px;
		border-top: 3px solid #fff;
		border-left: 3px solid #fff;
		margin: 0 auto;
		 transform: rotate(-135deg);
    	-webkit-transform: rotate(-135deg);}


/*Features*/

.features {padding: 80px 0 0 0;
			height: auto;
			background-color: #f6f9f9;}

.features p {font-size:20px;
			font-weight:400;
			line-height: 32px;
			color:#999999;}


.features_block {padding: 65px 0;
				justify-content: space-between;
				align-items: center;}
.bg {height: auto;
	background-color: #fff;}

.features_block h3 {
				font-size:22px;
				color:#2d3950;
				margin: 33px 0 18px 0;
				font-weight: 400;}

.features_block p {font-size:15px;
				color:#999999;
				line-height: 22px;}


/* Cases */

.cases {padding: 80px 0 86px 0;
		height: auto;
		background-color: #f6f9f9;}

.cases_image {width: 100%;
			height: auto;
			object-fit: cover;
			margin: 0 0 30px 0;}

.cases_image_block {width: 100%;}

.cases p {font-size:15px;
		color:#999999;
		line-height: 15px;
		margin-bottom: 85px;}


/*Contacts*/


.contacts {padding: 75px 0 110px 0;
			height: auto;
			background: url(../assets/contactbg.jpg) no-repeat center;
			background-size: cover;}

.contacts p {font-size:15px;
			color:#999999;
			line-height: 15px;
			margin-bottom: 85px;}

.contacts h2 {color: #fff;}

input::placeholder, textarea::placeholder {color:#999;}

.form_item {display: block;
			width: 100%;
			margin-bottom: 20px;
			height: 60px;
			border-radius: 3px;
			background:transparent;
			border:1px solid #999;
			padding: 20px;
			font-size: 15px;
			line-height: 15px;
			outline: none;
			color: #fff;}

.area {height: 160px;
		resize:none}

.contact_form {width: 100%;
				height: auto;}

.check_block, .news_checkbox {align-items: center;
			height: auto;}

.news_checkbox {color: #fff;}
.news_checkbox span {margin-left:15px;}

.form_button {height: 45px;
			width: 140px;
			border-color: #15a4fa;
			color:#fff;
			font-size:18px;
			line-height: 18px;
			padding: 0;
			margin: 0px;
			cursor: pointer;}

/*Footer*/
.footer {padding: 25px 0;}
.footer_info {text-align: left;
				color: #999999;
				font-size:15px;
				font-weight:400;
				height: auto;
				line-height:15px;
				align-items: center;}
.footer_info p {margin-bottom: 0;}

.social_icon {margin-left: 5px;
			cursor: pointer;}

.footer_content {display: flex;
				justify-content: space-between;
				align-items: center;
				}



.liked {background: url(../assets/Hover_liked.png);
		height: 40px;
		width: 40px;
		transition: background 0.5s ease;}
.google {background: url(../assets/Hover_google.png);
		height: 40px;
		width: 40px;
		transition: background 0.5s ease;}
.twitter {background: url(../assets/Hover_twitter.png);
		height: 40px;
		width: 40px;
		transition: background 0.5s ease;}
.facebook {background: url(../assets/Hover_facebook.png);
		height: 40px;
		width: 40px;
		transition: background 0.5s ease;}
.liked:hover {background:url(../assets/Normal_liked.png);}
.google:hover {background:url(../assets/Normal_google.png);}
.twitter:hover {background:url(../assets/Normal_twitter.png);}
.facebook:hover {background:url(../assets/Normal_facebook.png);}







@media screen and (max-width: 992px) {
	.footer_content {display: block;}
	.footer_info {margin: 40px auto;
					text-align: center;
					justify-content: center;}
	.footer_icon_block {justify-content: center;}
	.social_icon {margin-left: 20px;}
	.facebook {margin-left:0;}

	.check_block {display: block !important;}
	.news_checkbox  {justify-content: center !important;
					margin: 40px 0;}
	.form_button {margin: 0 auto;}}

@media screen and (min-width: 280px) and (max-width: 450px) {
	.intro h1 {font-size: 75px;
	line-height: 75px;
	font-weight: bold;
	text-transform: uppercase;}

}